.banner {
    background-image: url(../images/algodones-banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 40vh;
    font-family: 'Dancing Script', cursive;
}